.login-form-page {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: rgb(25, 25, 25);
}

.login-form {
  border: 2px solid rgb(230, 183, 62);
  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-email-input {
  margin-top: 50px;
  width: 325px;
  height: 50px;
  border: 2px solid rgb(255, 122, 122);
  border-radius: 5px;
  font-size: 15px;
  padding-left: 10px;
  color: grey;
  background-color: rgb(25, 25, 25);
}

.empty-email-input::placeholder {
  color: rgb(255, 122, 122);
}

.email-input {
  margin-top: 50px;
  width: 325px;
  height: 50px;
  border: 2px solid rgb(132, 132, 132);
  border-radius: 5px;
  font-size: 15px;
  padding-left: 10px;
  color: grey;
  background-color: rgb(25, 25, 25);
}

.submit-button {
  background-color: rgb(255, 230, 165);
  color: rgb(114, 114, 114);
  font-size: 20px;
  border: none;
  height: 60px;
  border-radius: none;
  width: 340px;
  margin-top: 50px;
  transition: 0.5s;
}

.submit-button:hover {
  background-color: rgb(230, 183, 62);
}

.first-page-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(25, 25, 25);
}

.button-container {
  border: 2px solid rgb(230, 183, 62);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.login-signup-button {
  padding: 5px;
  margin: 5px;
  height: 50px;
  width: 300px;
  margin-left: 25px;
  border: none;
  transition: 0.5s;
  background-color: rgb(229, 229, 229);
  color: rgb(111, 111, 111);
}

.login-signup-button:hover {
  background-color: rgb(255, 220, 133);
}

.border {
  margin: 25px;
  height: 1px;
  background-color: rgb(230, 183, 62);
  width: 300px;
}

.incorrect-password-div {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  align-items: column;
  background-color: rgb(25, 25, 25);
}

.incorrect-password-button {
  background-color: rgb(231, 231, 231);
  height: 20px;
  margin-left: 25px;
  margin-top: 50px;
  border: none;
  height: 50px;
  width: 200px;
  transition: 0.5s;
}

.incorrect-password-button:hover {
  background-color: rgb(255, 227, 155);
}

.incorrect-email-div {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  align-items: column;
  background-color: rgb(25, 25, 25);
}

.incorrect-email-button {
  background-color: rgb(231, 231, 231);
  height: 20px;
  margin-left: 50px;
  margin-top: 50px;
  border: none;
  height: 50px;
  width: 300px;
  transition: 0.5s;
}

.incorrect-email-button:hover {
  background-color: rgb(255, 220, 133);
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(25, 25, 25);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  border: 10px solid rgba(255, 255, 255, 0);
  border-top: 10px solid rgb(230, 183, 62);
  border-right: 10px solid rgb(230, 183, 62);
  border-bottom: 10px solid rgb(230, 183, 62);
  animation: ani 3s linear infinite;
}

.circle-two {
  height: 115px;
  width: 115px;
  border-radius: 75px;
  border: 8px solid rgba(255, 255, 255, 0);
  border-top: 8px solid rgb(230, 183, 62);
  border-right: 8px solid rgb(230, 183, 62);
  border-left: 8px solid rgb(230, 183, 62);
  animation: ani 3s linear infinite;
}

@keyframes ani {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.page-background {
  background-color: rgb(255, 255, 255)
}

body {
  background-color: rgb(25, 25, 25);
}

.login {
  color: rgb(214, 214, 214);
}